/* Adds Embedded Font */
	li {
		font-style: italic;
		}
		

	a {
		font-family: monospace;
		font-weight: none;
		background-color: yellow;
		text-decoration: none;
		}
		
	a:link {
		font-family: monospace;
		font-weight: none;
		}
		
	a:visited {
		color: Red;
		text-decoration: none;
		}
		
	a:hover {
		text-decoration: underline;
		}
		
	a:active {
		font-weight: bold;
		text-decoration: none;
		}
		
	td {
		font-style: italic;
		}
		
	table {
		background-color: yellow;
		}