	h1 {
	font-size: 50px;
	font-family: 'Comic Sans MS';
	}

	.footer {
		font-style: italic;
	}
	
	.menuItems {
	font-size: 20px;
	}

	td {
	font-size: 12px
	}
	
	a {
	font-weight: none;
	text-decoration: none;
	color: blue;
	}
		
	a:link {
	font-weight: none;
	text-decoration: none;
	color: blue;
	}
		
	a:visited {
	font-weight: none;
	text-decoration: none;
	color: green;
	}
		
	a:hover {
	font-weight: bold;
	font-family: cursive;
	color: blue;
	}
		
	a:active {
	text-decoration: none;
	font-weight: none;
	color: blue;
	}	